<!DOCTYPE html>
<html>
<head>
  <title>DebeteProjectRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <%= link_to 'test1', '#' %>
    <%= link_to 'test2', '#' %>
  </ul>
</div>

  <%= yield %>

</body>
</html>
